USE [master]
GO
/****** Object:  Database [TechnolosheProyecto]    Script Date: 7/15/2019 4:41:12 PM ******/
CREATE DATABASE [TechnolosheProyecto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TechnolosheProyecto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TechnolosheProyecto.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TechnolosheProyecto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TechnolosheProyecto_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TechnolosheProyecto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TechnolosheProyecto]
GO
/****** Object:  Table [dbo].[Estrellas]    Script Date: 7/15/2019 4:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estrellas](
	[IDCatalogo] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[DistanciaParsecs] [int] NOT NULL,
	[MagnitudAbsoluta] [int] NOT NULL,
	[VisibilidadHS] [bit] NOT NULL,
 CONSTRAINT [PK_Estrellas] PRIMARY KEY CLUSTERED 
(
	[IDCatalogo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Galaxias]    Script Date: 7/15/2019 4:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Galaxias](
	[IDCatalogo] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[DistanciaParsecs] [int] NOT NULL,
	[MagnitudAbsoluta] [int] NOT NULL,
	[VisibilidadHS] [bit] NOT NULL,
 CONSTRAINT [PK_Galaxias] PRIMARY KEY CLUSTERED 
(
	[IDCatalogo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Planetas]    Script Date: 7/15/2019 4:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planetas](
	[IDCatalogo] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[DistanciaUA] [int] NOT NULL,
	[MagnitudAbsoluta] [int] NOT NULL,
	[VisibilidadHS] [bit] NOT NULL,
 CONSTRAINT [PK_Planetas] PRIMARY KEY CLUSTERED 
(
	[IDCatalogo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
